<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GigSpot" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Play|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="banner" >
        <%= image_tag "shutterstock_140154739_banner_Fotor.jpg" %>
    </div>
    <div class="top-bar navigation">
  <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
      <li>
        <%= link_to "Gig Requests", gig_requests_path %>
      </li>
      <li><%= link_to "Events Near Me", gigs_path %></li>
        <% end %>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
        <% if user_signed_in? %>
          <li><%= link_to "My Profile", user_path(current_user) %> </li>
          <% if current_user.is_admin? %>
          <li><%= link_to "Admin", users_path %> </li>
          <% end %>
          <li class="sign-out"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li class="sign-out"><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
    </ul>
  </div>
</div>
<% if flash.present? %>
  <div class="flash">
    <div class="container">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </div>
  </div>
<% end %>


    <%= yield %>


  </body>
</html>
